@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;0,900;1,300&display=swap');
*{box-sizing: border-box;margin: 0;padding: 0;font-family: 'Poppins', sans-serif;}
a{text-decoration:none; color: unset; }
::selection{
    background-color: white;
    color: black;
}
/* Modal  */
.modal h2 svg{
    width: 50px;
    height: 50px;
}
html.modal-active, body.modal-active {
    overflow: hidden;
}
#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 3;
}
#modal-container.six {
    transform: scale(1);
}
#modal-container.six .modal-background {
    z-index: 3;
    background: rgba(0, 0, 0, .0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six .modal-background .modal h2, #modal-container.six .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 0.3s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.six.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal {
    animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal h2, #modal-container.six.out .modal-background .modal p {
    animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.966);
    text-align: left;
    vertical-align: middle;
}
#modal-container .modal-background .modal {
    background: rgb(39, 37, 37) !important;
    text-align: center;
    color: white;
    padding: 50px;
    display: inline-block;
    border-radius: 20px;
    outline: none;
    font-weight: 300;
    position: relative;
    width: 65vw;
    margin: 0 17.5vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#modal-container .modal-background .modal h2 {
    font-size: 25px;
    margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    border: 2px solid white;
}
.content {
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 1;
    position: fixed;
    padding: 10px 2px;
    border-bottom-left-radius: 20px;
    top: 0px;
    right: 0px;
}

.content .buttons {
    margin: 0 auto;
    background-color: black;
    padding: 0 10px;
    text-align: center;
}
.content .buttons .button {
    transition: 0.3s ease-in-out;
    opacity: 0.7;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.button svg{
    width: 25px;
    height: 25px;
}
.content .buttons .button:hover {
    opacity: 1;
}
@keyframes unfoldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
   }
    50% {
        transform: scaleY(0.005) scaleX(1);
   }
    100% {
        transform: scaleY(1) scaleX(1);
   }
}
@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
   }
    50% {
        transform: scaleY(0.005) scaleX(1);
   }
    100% {
        transform: scaleY(0.005) scaleX(0);
   }
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
   }
    100% {
        transform: scale(1);
   }
}
@keyframes zoomOut {
    0% {
        transform: scale(1);
   }
    100% {
        transform: scale(0);
   }
}
@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, .0);
   }
    100% {
        background: rgba(0, 0, 0, .7);
   }
}
@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, .7);
   }
    100% {
        background: rgba(0, 0, 0, .0);
   }
}

@keyframes scaleBack {
    0% {
        transform: scale(1);
   }
    100% {
        transform: scale(0.85);
   }
}
@keyframes scaleForward {
    0% {
        transform: scale(0.85);
   }
    100% {
        transform: scale(1);
   }
}
@keyframes quickScaleDown {
    0% {
        transform: scale(1);
   }
    99.9% {
        transform: scale(1);
   }
    100% {
        transform: scale(0);
   }
}
@keyframes slideUpLarge {
    0% {
        transform: translateY(0%);
   }
    100% {
        transform: translateY(-100%);
   }
}
@keyframes slideDownLarge {
    0% {
        transform: translateY(-100%);
   }
    100% {
        transform: translateY(0%);
   }
}

@keyframes sketchIn {
    0% {
        stroke-dashoffset: 778;
   }
    100% {
        stroke-dashoffset: 0;
   }
}
@keyframes sketchOut {
    0% {
        stroke-dashoffset: 0;
   }
    100% {
        stroke-dashoffset: 778;
   }
}
@keyframes modalFadeIn {
    0% {
        background-color: transparent;
   }
    100% {
        background-color: white;
   }
}
@keyframes modalFadeOut {
    0% {
        background-color: white;
   }
    100% {
        background-color: transparent;
   }
}
@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        top: -20px;
   }
    100% {
        opacity: 1;
        top: 0;
   }
}
@keyframes modalContentFadeOut {
    0% {
        opacity: 1;
        top: 0px;
   }
    100% {
        opacity: 0;
        top: -20px;
   }
}




/* Modal F */
#main .signature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.signature img{width: 100px;}
.signature a {display: flex; flex-direction: row-reverse;}
.ds{animation: ds 1s ease-in;
    margin-right: 10px;
    z-index: 99 !important;
    background-color: black;
}
@keyframes ds {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.fist{animation: fist 2s ease-in;
    background-color: black;
}
@keyframes fist {
    0%{opacity: 0; margin-left: -110px;}
    50%{opacity: 0; margin-left: -110px;}
    100%{opacity: 1; margin-left: 0;}
}
.mouse {
    margin-top: 30vh;
    width: 30px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.514);
    border-radius: 60px;
    position: relative;
}
.mouse::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}
@keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
   }
}
@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
   }
}
/* Section Two - Company Cards */
.FlexContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.cd{
    transition: 0.8s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-weight: 400;
    width: 25%;
    opacity: 1;
}
.cd h1{font-weight: 300!important;}
.cd a{
    padding: 20vh 0;
}
.cd img{width: 125px; margin: 3vh 0;}
.cd p{margin: 0 20px;font-size: 15px;text-transform: capitalize;} 
.vfw{background-color: #26004C;}
.dstech{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.322), rgba(0,0,0, 100)), url('img/abstract.png');
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: blur(5px);
}
.blur{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: flex-end;
}
.cp img{width: 140px; margin-top: -15px;}
.cp{background-color: #D3C7A5; color: black;}
.cd:hover{opacity: 1;}
/* -- Section Third - Effect Text ---  */
.texture{height: 100vh;}
.effectText{
    width: 90vw;
    margin: 0 5vw;
    text-align: center;
    font-size: 80px;
    letter-spacing: 5px;
    font-weight: 900;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}
marquee{width: 78vw;
margin: 11vw;
margin-top: -1vh;
}
marquee h2{
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 400;
    color: white;
}
.contact{
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    width: 80vw;
    margin: 0 10vw;
}
hr{
    width: 14vw;
    margin-bottom: 5px;
    margin-top: 15px;
    border: 0.5px solid rgba(255, 255, 255, 0.756);
}
address{
    font-size: 14px;
}
.left{
    display: flex;
    flex-direction: column-reverse;
    width: 25vw;
}
.left ul{
    display: flex;
    flex-direction: row;
}
.left ul li{
    font-size: 21px;
    list-style: none;
    padding: 5px 9px;
}
li{transition: 0.4s ease-in-out;
border-radius: 50px;}
.mail{
    transition: 0.5s ease-in-out;
    text-align: left;
    width: 14vw;
    padding-left: 9px;
    color: rgba(255, 255, 255, 0.911);
    font-weight: 400;
    list-style: none;
}
li:hover.mail{text-align: center;font-weight: 500;}
.right img{
    width: 125px;
}
.footer{position: relative;}
.contact li:hover{
    background-color: white;
    color: black;
}



@media only screen and (max-width:500px) {
    .FlexContainer{
        position: relative;
        height: 100vh;
        margin-top: 0;
    }
    .cd{
    justify-content: flex-end;    
    height: 50vh;
    width: 50%;
    }
    .cd a{padding: 5vh 0;}
    .cd img{width: 80px;}
    .cp img{margin-top: 0;}
    .cd h1{font-size: 21px;}
    .cd p{font-size: 14px; margin: 2vh 1vh;}
    .vfw p{font-size: 10px;}
    .vfw img{width: 100px;}
    .dstech {border-top: 1px solid white;}
    .dstech p{font-size: 12px;}
    .effectText{
        width: 80vw;
        margin: 0 10vw;
        margin-top: -40vh;
        margin-bottom: 5vh;
        text-align: left;
        font-size: 60px;
        line-height: 95%;
        letter-spacing: 5px;
        font-weight: 900;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
    }
    marquee{width: 100%; margin: 0;}
    marquee h2{font-size: 17px; letter-spacing: 0;}
    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left ul{justify-content: center;}
    .mail{width: 80vw; text-align: center;}
    .left{width: 95vw;align-items: center;}
    .right{margin-top: 5vh; margin-bottom: -5vh;}
    .right img{width: 90px;}
    .button svg{width: 25px;height: 25px;}
    .modal{width: 92vw !important;margin: 0 4vw !important;}
}
